<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <%- include("./partials/nav.ejs") %>


  <div class="container">
    <h1>Your Order</h1>

    
  <section class="shopping-cart">

        <ul class="sc-items">
          <li class="clearfix">
            <% for (var i=0; i < cart.items.length; i++) { %>
            <span class="item-name"><%= cart.items[i].title%></span>
            <span class="item-price"><strong><%= cart.items[i].price%></strong></span>
            <span class="item-quantity">1</span>
            <br>
            <% } %>
          </li>
        </ul>

        <div class="sc-footer">
          <div class="sc-total"><strong>
            <span class="lighter-text">Total:</span>
            <span class="total-price"><%= cart.totalCost %></span></strong>
          </div>
        </div> 
        <a href="#" class="sc-btn">PLACE ORDER</a>
      </div> 
    </div> 

    </section>
  </div> 

  <%- include("./partials/footer.ejs") %>

  </body>
</html>
