<script>
  function delivery() {
    alert("food will be delivered");
  }
  function pickUp() {
    alert("food will be picked");
  }     
  </script>

<div class="container">
  <h1>Your Order</h1>
  <section class="shopping-cart">
    <table style="width:100%">
      <tr>
        <th><span class="table-header">dish</span></th>
        <th><span class="table-header">quantity</span></th>
        <th><span class="table-header">unit price</span></th>
        <th><span class="table-header">total</span></th>
      </tr>
      <% for (var i = 0; i < cart.items.length; i++) { %>
        <tr>
          <% var itemName = cart.items[i].title %>
          <th><span class="item-name"><%= itemName %></span></th>


          <% var itemAmount = cart.items[i].quantity %>
          <th><span class="item-quantity"><%= itemAmount %> x</span></th> 

          <% var itemPrice = cart.items[i].price %>
          <th><span class="item-price"><strong>€<%= itemPrice %></strong></span></th>
          <th><span class="items-price"><strong>€<%= itemPrice * itemAmount %></strong></span></th>
        </tr>
      <% } %>
    </table>
    <div class="sc-footer">
      <div class="sc-total"><strong>
        <span class="lighter-text">Number of items:</span>
        <span class="total-price"><%= cartSize %></span>
        <br>
        <span class="lighter-text">Total price:</span>
        <span class="total-price">€<%= cartPrice %></span></strong>
      </div>
    </div> 
    
    <form action="/checkout">

      <button type="submit" class="button place"></a><span>GO TO CHECKOUT</span></button>

  </form>        
  </section>
</div> 