<script>
  function delivery() {
    alert("the food will be delivered");
  }
  function pickUp() {
    alert("the food will be picked up");
  }
  </script>
  
  <div class="checkout">
  
  <form action="#" class="form" method="POST">
    <h2>–– CHECKOUT ––</h2>

      <fieldset>
          <legend>Delivery Option</legend>
          <div class="delivery-options">
            <form action="/checkOut/delivery" method="post">
              <input type="text" name="userID" value="1" hidden>
              <button onclick="delivery()" type="submit" class="button food"  disabled >NOT WORKING</button>
            </form>
            
            <form action="/checkOut/delivery" method="post">
              <input type="text" name="userID" value="1" hidden>
              <button onclick="delivery()" type="submit" class="button food">DELIVER FOOD</button>
            </form>
    
            <form action="/checkOut/pickUp" method="post">
              <input type="text" name="userID" value="1" hidden>
              <button onclick="pickUp()"type="submit" class="button food">PICK UP FOOD</button>
            </form>
          </div>
     

        <p>food will be delivered ASAP, but you can set time to deliver or to pick up</p>
        <form action="/checkout/time" method="post">
          <label for="appt">Select a time:</label>
          <input type="time" id="time" name="time" placeholder="00:00 am">
          <button type="submit" class="button food">SET TIME</button>
        </form>
        
      </fieldset>
          <div class="row">
            <div class="col">
          <form action="/checkout/information" method="post">
            <input type="text" hidden>

            <div class="fillout">
              <label for="name">Full Name</label>
              <input type="text" id="name" name="fullname" placeholder="Insert your name">
              <label for="email">E-Mail</label>
              <input type="text" id="email" name="email" placeholder="user@sushi.com">
              <label for="adr">Address</label>
              <input type="text" id="adr" name="address" placeholder="Sushistreet 2">
              <label for="zip">Zipcode</label>
              <input type="text" id="zip" name="zip" placeholder="10178">
              <label for="city">City</label>
              <input type="text" id="city" name="city" placeholder="Berlin">
            </div>

            <button type="submit" class="button food">SAVE INFORMATION</button>
          </form>

          </div>

    <div>
      <legend class="order-ov">Order Overview</legend>
      <section class="shopping-cart">
        <table style="width:100%">
          <tr>
            <th><span class="table-header">dish</span></th>
            <th><span class="table-header">quantity</span></th>
            <th><span class="table-header">unit price</span></th>
            <th><span class="table-header">total</span></th>
          </tr>
          <% for (var i = 0; i < cart.items.length; i++) { %>
            <tr>
              <% var itemName = cart.items[i].title %>
            <th><span class="item-name"><%= itemName %></span></th>
            <% var itemAmount = cart.items[i].quantity %>
            <th><span class="item-quantity"><%= itemAmount %> x</span></th> 
            <% var itemPrice = cart.items[i].price %>
            <th><span class="item-price"><strong>€<%= itemPrice %></strong></span></th>
            <th><span class="items-price"><strong>€<%= itemPrice * itemAmount %></strong></span></th>
            </tr>
          <% } %>
        </table>
        <div class="sc-footer">
          <div class="sc-total"><strong>
            <span class="lighter-text">Number of items:</span>
            <span class="total-price"><%= cartSize %></span>
            <br>
            <span class="lighter-text">Total price:</span>
            <span class="total-price">€<%= cartPrice %></span></strong>
          </div>
        </div> 
      </section> 
    </div>
    

    <fieldset>
      <legend>Payment Method</legend>
      <form action="/checkOut/save" method="post">
      <div class="payment-options">
     

      
        <div class="payment">
          <label for="cash">Cash </label>
          <input type="radio"  checked id="cash" name="Method" value="cash" />
        </div>
        <div class="payment">
          <label for="paypal">PayPal</label>
          <input type="radio"  id="paypal" name="Method" value="paypal" />
        </div>
       
         
        <div class="payment">
          <label for="Apple Pay">Apple Pay</label>
          <input type="radio"   id="apple-pay" name="Method" value="applepay" />
        </div>
     
      </div>

    <div>
          <button type="submit" class="button place"><span>CHOOSE PAYMENT</span></button>  
    </div>
  </form>


  <form action="/checkout/placeOrder" method="post">
  <div>
    <button type="submit" class="button place"><span>PLACE ORDER</span></button>  
</div>
  </form>
  </fieldset>

</div>
