<div>
    <h1><%= item.title %></h1>
    <img src="<%= item.image %>">
    <p>price: <%= item.price %>€</p> 
    <p>weight: <%= item.weight %>g</p>
    <p>fats: <%= item.fats %>g</p> 
    <p>carbohydrates: <%= item.carbohydrates %>g</p> 
    <p>calories: <%= item.calories %></p>
    <button class="btn first">+</button>
    <button class="btn first">−</button>
</div>
    
