
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const forms = document.querySelector('form');
    forms.addEventListener("submit", (event) => {
      // Returning early so that the page continues working until we fix below.
      return;
      event.preventDefault();
      const form = event.target;
      fetch(form.action, {
        method: form.method,
        // form data is missing here
      })
        .then((response) => {
          response.text()
            .then((text) => alert(text))
        })
    })
  })

  function updateLink() {
    var link = document.getElementById("sortLink");
    var veggieLink = "http://localhost:3000/menu/customerView?vegetarian=true";

    if (window.location.href == veggieLink) {
      link.setAttribute("href", "/menu/customerView?vegetarian=true&sortPrice=true");
    } else {
      link.setAttribute("href", "/menu/customerView?sortPrice=true");
    }
  }
</script>

<h1>menu</h1>
<div class="container">
  <a href="/menu/customerView?vegetarian=true">
    <button class="button">VEGETARIAN</button>
  </a>
</div>

<!-- <button onclick="updateLink()" type="button" class="button" id="sortLink" href="">SORT PRICE</button> -->

<!-- button to sort the price -->
<div class="container">
  <a id="sortLink" href="">
    <button class="button" onclick="updateLink()">SORT PRICE</button>
  </a>
</div>

<!-- display menu items in a loop https://stackoverflow.com/a/38371978 -->
<% for (var i=0; i < items.length; i++) { %>
  <div class="item-cell">
    <h4>
      <a href="/menu/items/<%= items[i].id %>">
        <%= items[i].title %> - <%= items[i].price %>€
      </a>
    </h4>
    <a href="/menu/items/<%= items[i].id %>">
      <img src="<%= items[i].image %>">
    </a>
    <div>
      <form action="/cart/add" method="post">
        <input type="text" name="userID" value="1" hidden>
        <input type="text" name="title" value="<%= items[i].title %>" hidden>
        <input type="number" name="price" value="<%= items[i].price %>" hidden>
        <button type="submit" class="btn first">+</button>
      </form>
      <form action="/cart/remove" method="post">
        <input type="text" name="userID" value="1" hidden>
        <input type="text" name="title" value="<%= items[i].title %>" hidden>
        <input type="number" name="price" value="<%= items[i].price %>" hidden>
        <button class="btn first">−</button>
      </form>
    </div>
  </div>
<% } %>
  