<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>menu</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- in progress -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const forms = document.querySelector('form');

      forms.addEventListener("submit", (event) => {
        // Returning early so that the page continues working until we fix below.
        return;

        event.preventDefault();
        const form = event.target;

        fetch(form.action, {
          method: form.method,
          // form data is missing here
        })
          .then((response) => {
            response.text()
              .then((text) => alert(text))
          })
      })
    })
  </script>
</head>

<body>
  <%- include("./partials/nav.ejs") %>

    <h1>menu</h1>
    <div class="container">
      <div class="button"><a href="/menu?vegetarian=true">VEGETARIAN</a></div>
    </div>

    <!-- button to sort the price -->
    <div class="container">
      <div class="button"><a href="/menu?sortPrice=true">SORT PRICE</a></div>
    </div>

    <!-- display menu items in a loop https://stackoverflow.com/a/38371978 -->
    <% for (var i=0; i < items.length; i++) { %>
      <div class="item-cell">
        <h4>
          <a href="/menu/items/<%= items[i].id %>">
            <%= items[i].title %> - <%= items[i].price %>€
          </a>
        </h4>
        <a href="/menu/items/<%= items[i].id %>">
          <img src="<%= items[i].image %>">
        </a>
        <div>
          <form action="/cart/add" method="post">
            <input type="text" name="userID" value="1" hidden>
            <input type="text" name="title" value="<%= items[i].title %>" hidden>
            <input type="number" name="price" value="<%= items[i].price %>" hidden>
            <button type="submit" class="btn first">+</button>
          </form>
          <form action="/cart/remove" method="post">
            <input type="text" name="userID" value="1" hidden>
            <input type="text" name="title" value="<%= items[i].title %>" hidden>
            <input type="number" name="price" value="<%= items[i].price %>" hidden>
            <button class="btn first">−</button>
          </form>
        </div>
      </div>
      <% } %>
        <%- include("./partials/footer.ejs") %>
</body>

</html>