<h1>Add or remove a menu item</h1>
<p>
</p>

<%- include("./partials/modal.ejs") %>
<br>


<!-- display menu items in a loop https://stackoverflow.com/a/38371978 -->
<% for (var i=0; i < items.length; i++) { %>
  <div class="item-cell">
    <h4>
      <a href="/menu/items/<%= items[i].id %>">
        <%= items[i].title %> - <%= items[i].price %>€
      </a>
    </h4>
    <a href="/menu/items/<%= items[i].id %>">
      <img src="<%= items[i].image %>">
    </a>
    <div>
      <form action="/menu/items/<%= items[i].id %>/delete" method="post">
        <button class="btn first">DELETE</button>
      </form>
      <form action="/menu/items/<%= items[i].id %>/update" method="post">
        <label>Price: <br><input type="number" step=0.1 name="price" placeholder="Price" value="<%= items[i].price %>" autofocus></label><br>
        <label>Picture url: <br><input type="url" name="picture" placeholder="Picture url" value="<%= items[i].image %>"></label><br>
        <button class="btn first">UPDATE</button>
      </form>
    </div>
  </div>
<% } %>

