<div class="data-form">
    <div class="userdata">
    <form action="<%= `/users/${user._id}/update?_method=PUT` %>" method="POST" class="profile">
        <h2>Edit Profile</h2>
        <label for="inputFirstName">First Name</label>
        <input type="text" name="first" id="inputFirstName" value="<%= user.name.first %>" placeholder="First" autofocus>
        <br>
        <label for="inputLastName">Last Name</label>
        <input type="text" name="last" id="inputLastName" value="<%= user.name.last %>" placeholder="Last">
        <br>
        <label for="inputStreetName">Street</label>
        <input type="text" name="streetName" id="inputStreetName" value="<%= user.address.streetName %>" placeholder="Street">
        <br>
        <label for="inputHouseNumber">House Number</label>
        <input type="text" name="houseNumber" id="inputHouseNumber" value="<%= user.address.houseNumber %>" placeholder="House Number">
        <br>
        <label for="inputAddition">Address Addition</label>
        <input type="text" name="addition" id="inputAddition" value="<%= user.address.addition %>" placeholder="Address Addition">
        <br>
        <label for="inputZipCode">Zip Code</label>
        <input type="text" name="zipCode" id="inputZipCode" pattern="\d*"  value="<%= user.address.zipCode %>" placeholder="Zip Code" required>
        <br>
        <label for="inputCity">City</label>
        <input type="text" name="city" id="inputCity" value="<%= user.address.city %>" placeholder="City">
        <br>
        <label for="inputEmail">E-mail address</label>
        <input type="email" name="email" id="inputEmail" value="<%= user.email %>" placeholder="Email address" required>
        <br>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" value="" placeholder="Password" required>
        <br>
        <label for="role">Choose a role:</label>
        <select id="role" name="role">
          <option value="customer" selected="<%= user.role === 'customer' %>">customer</option>
          <option value="restaurant" selected="<%= user.role === 'restaurant' %>">restaurant</option>
          <option value="admin" selected="<%= user.role === 'admin' %>">admin</option>
        </select>
        <br>
            <button class="button" type="submit">Update</button>
    </form>
</div>
</div>
 