<div class="container">
    <div class="users">

<h2>Users - Overview</h2>

<table class="user-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>

        <% users.forEach(user => { %>
        <tr>
            <td>
                <a href="<%= `/users/${user._id}/view` %>">
                    <%= user.fullName %>
                </a>
            </td>
            <td><%= user.fullAddress %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td> 
                <a href="<%= `/users/${user._id}/edit` %>">
                    <button type="submit" class="btn first">Edit</button>
                </a>
            </td>
            <td>
                <a href="<%= `/users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">
                    <button type="submit" class="btn first">Delete</button>
                </a>
            </td>
        </tr> 
        <% }); %>
    </tbody>
</table>
    <a class="user-btn" href="/users/new">Add User</a>
</div>